/* CSS declarations go here */

body{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.readingChartAxis path{
  stroke: #000;
  fill: none;
}

.readingChartAxis line{
  stroke: #000;
}
